<div class="video_text_button">

  <div class="cont_video">
    <video src="./../../assets/video/wine_video.mp4" autoplay muted></video>
  </div>

  <div class="video_content">
    <h1>S T O F B E R G</h1>
    <p> STOFBERG'S WINE IS MADE FROM NATURAL GRAPES BY EXPERTS,</p>
       <p>THE HIGHEST QUALITY ONLY FROM US</p>
    <button>FIND OUT MORE</button>
    
</div>
</div>
<div class="wine_text">
    <!-- <p (click)="old()">OLD YEAR'S COLLECTION</p> -->
     <p>THIS YEAR'S COLLECTION</p>
    <p>FUTURE YEAR'S COLLECTION</p>
</div>
<div class="wine_mainConteiner">
  <div class="conteiner">
    <div class="img_hover">
    <img class="image" src="./../../assets/image/wine1.jpg" alt="">
  </div>
    <p class="w_name">WiNE WHITE</p>
    <p class="w_name">DRY</p>
    <p class="price">30$</p>
  </div>
  <div class="conteiner">
    <div class="img_hover">
    <img class="image" src="./../../assets/image/wine3.jpg" alt="">
  </div>
    <p class="w_name">WiNE RED</p>
    <p class="w_name">EXTRA DRY</p>
    <p class="price">55$</p>
  </div>
  <div class="conteiner">
    <div class="img_hover">
    <img class="image" src="./../../assets/image/wine3.jpg" alt="">
  </div>
    <p class="w_name">WiNE RED</p>
    <p class="w_name">BRUT</p>
    <p class="price">120$</p>
  </div>
  <div class="conteiner">
    <div class="img_hover">
    <img class="image" src="./../../assets/image/wine3.jpg" alt="">
  </div>
    <p class="w_name">WiNE RED</p>
    <p class="w_name">VINTAGE BRUT</p>
    <p class="price">60$</p>
  </div>
  <div class="conteiner">
    <div class="img_hover">
    <img class="image" src="./../../assets/image/wine1.jpg" alt="">
  </div>
    <p class="w_name">WiNE WHITE</p>
    <p class="w_name">DRY</p>
    <p class="price">30$</p>
  </div>
  
</div>
<!-- <div class="slid_body">
<div class="slider_conteiner">
    <div class="image_conteiner">
      <img class="img" src="./../../assets/image/slid_image1.jpg" alt="">
      <img class="img" src="./../../assets/image/slid_image2.jpg" alt="">
      <img class="img" src="./../../assets/image/slid_image3.jpg" alt="">
      <img class="img" src="./../../assets/image/slid_image4.jpg" alt="">
      <img class="img" src="./../../assets/image/slid_image5.jpg" alt="">
    </div>
    <i class="errow left btn prev"><<</i>
    <i class="errow right btn next">>></i>
  </div>
</div> -->

<div class="dis_button">
<button>DISCOVER NOW</button>
</div>

<div class=".factori_conteiner">
  <img class="image_factory" src="./../../assets/image/factory.webp" alt="">
</div>

<div class="dis_button">
  <button>DISCOVER MORE</button>
  
  <p class="label">The STOFBERG Cellars</p>
  <p class="w_name">The history of Valdo is a tale of passion for Wine,d
     terroir and wine-making art. Most of all,
      it's a family tale</p>
</div>

<div class="proces_text_conteiner">
  <div class="proces_text">
    <h2>THE PROCCES</h2>
    <p class="w_name">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus fuga harum, quas eaque cum quisquam dolorem ullam esse cumque blanditiis voluptates officia, culpa officiis dicta nihil mollitia aliquam deserunt dolore.
    Repellendus omnis quidem voluptate voluptates iure est praesentium tenetur incidunt, impedit ducimus quisquam animi excepturi non? Vitae amet neque est nulla maiores eaque error voluptates laudantium dignissimos quas, hic dolorum?
    Suscipit accusamus quam temporibus itaque quo magnam quasi cupiditate fugit facilis distinctio quas eum ratione, veniam provident voluptatibus delectus sapiente ad soluta mollitia laudantium? Praesentium laudantium impedit alias rem ipsam?
    Expedita voluptatem, illum porro ducimus possimus ipsa hic reprehenderit nihil quaerat quisquam obcaecati veniam quia atque ipsam, odio fuga est at placeat deserunt doloribus. Iusto quia unde at inventore soluta?
    Nulla placeat ullam aut. Dolorem et quas aliquam iusto aut ullam mollitia cum a atque dolor repellat accusamus reprehenderit sequi distinctio, non sint fugiat ea officiis, in reiciendis. Quis, ad.</p>
  </div>
  <img src="./../../assets/image/great.jpg" alt="">
</div>

<div class="dis_button">
  
  
  <p class="label">Perlage Magazine</p>
  <p class="w_name">The history of Valdo is a tale of passion for Wine,d
     terroir and wine-making art. Most of all,
      it's a family tale</p>
      
      <button>BUY NOW</button>
</div>

<div class="images_conteiner">
  <img class="images" src="./../../assets/image/p1.webp" alt="">
  <img class="images" src="./../../assets/image/p2.webp" alt="">
  <img class="images" src="./../../assets/image/p3.webp" alt="">
  <img class="images" src="./../../assets/image/p4.webp" alt="">
  <img class="images" src="./../../assets/image/p5.webp" alt="">
  <img class="images" src="./../../assets/image/p6.webp" alt="">
</div>

<div class="card_conteiner">
  <div class="card_border">
    <div class="card">
      <h2>STOFBERG News</h2>
      <p class="w_name">Subscribe to our newsletter to stay updated to our news.</p>
      <div class="input_button">
      <input type="email" placeholder="Email">
      <button>SUBSCRIBE</button>
    </div>
    <p class="w_name">Having read the policy information note</p>
    <div class="checbox_text">
      <input type="checkbox">
      <p class="w_name">I consent to the processing of my personal data
         for marketing purposes by Spumanti Valdo S.r.l.
          </p>
    </div>
    </div>
  </div>
</div>




