<div class="main_conteiner">
    <div class="conteiner1">
        <img src="./../../assets/image/wine_logo.png" alt="">
        <h2>contact:</h2>
        <p class="w_name">(+119)024-66-76-76</p>
        <p class="w_name">(+119)023-66-76-76</p>
        <p class="w_name">FORMER SPRICBOK</p>
    </div>
    <div class="conteiner2">
        <h2>ABOUT</h2>
        <p class="w_name">Marthinus Theunis Steyn 'Theuns' Stofberg
             (6 June 1955 – 23 August 2023)[1] was a South African 
             rugby union player who was captain of the national team 
             for four tests between 1980 and 1984.[2] He is remembered 
             for his speed and his size, both remarkable for a flank at 
             that time.[3] Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aut cum facilis assumenda, perspiciatis quo porro provident repellat voluptatibus aliquid, eaque pariatur ex officiis id, vero quia veniam quasi dolore.
             Quod mollitia, aperiam quis, rem optio recusandae aliquid temporibus suscipit nobis esse quisquam laborum vel natus perferendis id facere debitis deleniti. Quidem nostrum consequatur dolore optio cupiditate natus earum laborum.
            Sint eius explicabo accusamus accusantium, sunt consectetur in dolore ut laudantium rem maiores minus tempore laboriosam id deserunt. Enim rerum rem quo magni unde earum perferendis iure blanditiis porro dolorum.
            </p> 
    </div>
    <div class="conteiner3">
        <h2>FOLLOW US:</h2>
      <img src="./../../assets/image/socila_media.png" alt="">
      <h2>THANCKS FOR FOLLOWING</h2>
    </div>
</div>
